    body {
        font-family: Arial, sans-serif;
    }
    form {
        max-width: 300px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type="submit"] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #258f3c;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #0e7e23;
      }
      .texto-rojo {
        color: red;        
      }

      .texto-verde {
        color: green;        
      }

      .botoncerrar {
        background-color: #686f06;    
        color: white;
        align-content: end;
      }

      .tfiltro
      {
        width: 20% !important;
      }